---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostBox from "../components/postBox.astro";
const menu=[{
		title: "利用規約",
		url: "tos"
	},
	{
		title: "プライバシーポリシー",
		url: "privacy-policy"
	},
	{
		title: "ガイドライン",
		url: "guideline"
	},
	{
		title: "絵文字等の申請ガイドライン",
		url: "request_guideline"
	}];
---
<BaseLayout index=true title="PrisMisskey.space">

	<div class="flex-col p-4 py-[5em] w-full">
		<div class="flex gap-8 justify-center flex-wrap">
			{menu.map((item) => (
				<PostBox title={item.title} url={item.url}></PostBox>
			))}
		</div>
	</div>
</BaseLayout>
