---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout index=true title="PrisMisskey.space">

	<div class="flex-col p-2">
		<h1 class="text-2xl">PrisMisskey.space</h1>
		<br>
		<p>PrisMisskey (ぷりみす) は雑多な汎用サーバーです！</p>
		<a style="color: blue" href="/tos"> 利用規約はこちら</a>
		<br>
		<a style="color: blue" href="/privacy-policy">プライバシーポリシーはこちら</a>
	</div>
</BaseLayout>
