---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout index=true title="PrisMisskey.space">

	<div class="flex-col p-2">
		<h1 class="text-2xl">PrisMisskey.space</h1>
		<br>
		<p>PrisMisskey (ぷりみす) は雑多な汎用サーバーです！</p>
		<a style="color: dodgerblue" href="/tos">利用規約</a>
		<br>
		<a style="color: dodgerblue" href="/privacy-policy">プライバシーポリシー</a>
		<br>
		<a style="color: dodgerblue" href="/guideline">ガイドライン</a>
		<br>
		<a style="color: dodgerblue" href="/request_guideline">絵文字等の申請ガイドライン</a>
	</div>
</BaseLayout>
