---

---

<nav class="sticky top-0 w-full h-auto p-4 border-b bg-white">
    <div class="flex">
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <a style="color: black !important;" href="/"><p class="text-xl"> PrisMisskey.space</p></a></div>

</nav>


<style>
    .hamburger {
        display: none;
    }

    .hamburger .line {
        display: block;
        width: 30px;
        height: 3px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 8px;
        background-color: #000000;
    }


    @media screen and (max-width: 636px) {
        .hamburger {
            display: inline;
        }
    }
</style>