---
import Navbar from "../components/navbar.astro";
const {title, index} = Astro.props;
---
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/png"
          href="https://files.prismisskey.space/misskey/c7e56b1d-4c4f-408f-bf73-3175f4eb26ca.png"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body class="w-full">
<Navbar/>
<div class="flex h-full w-full content mx-auto max-w-screen-xl">
    {!index &&
            <div class="sidebar border-r p-3">
                <div class="link">
                    <a style="white-space: nowrap" href="/tos">利用規約</a>
                </div>
                <br>
                <div class="link">
                    <a style="white-space: nowrap" href="/privacy-policy">プライバシーポリシー</a>
                </div>
                <br>

                <div class="link">
                    <a style="white-space: nowrap" href="/guideline">ガイドライン</a>
                </div>
                <br>
                <div class="link">
                    <a style="white-space: nowrap" href="/emoji_guideline">絵文字申請ガイドライン</a>
                </div>
            </div>}

    <slot/>

</div>
<div style="border-top: #d5d5d5 solid 1px" class="flex p-4 border-t-8">
    PrisMisskey.space サポート
</div>
<style>
    html {
        -ms-overflow-style: none; /* IE, Edge 対応 */
        scrollbar-width: none; /* Firefox 対応 */
        height: 100%;
        color: #4f4f4f;
        background: #fafafa;
    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: #121212;
            color: #d5d5d5;
        }
    }
    .link{
        margin-top: 8px;
    }
    a {
        color: dodgerblue !important;
    }

    html::-webkit-scrollbar {
        display: none; /* Chrome, Safari 対応 */
    }

    body {
        min-height: 100%;
    }
</style>

</body>
</html>
<script>
    var target = document.getElementsByClassName("sidebar")[0]

    function isTarget(element) {
        if (element === target) {
            return true;
        }
        if (element.parentNode) {
            return isTarget(element.parentNode);
        }
        return false;
    }

    function hasOnClass(element) {
        if (!element) {
            return false;
        }
        return element.classList.contains("on");

    }

    document.addEventListener("touchend", function (event) {
        var tapped = event.target;
        if (!isTarget(tapped) && hasOnClass(target)) {
            document.querySelector('.sidebar').classList.toggle('on');
        }
    });
    // スクロール時にサイドバーを追従させる
    window.addEventListener("scroll", function () {
        var sidebar = document.querySelector('.sidebar');
        if (window.scrollY > 0) {
            sidebar.style.top = window.scrollY + "px";
        } else {
            sidebar.style.top = "0";
        }
    });
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.sidebar').classList.toggle('on');
    });
</script>
<style>

    a {
        color: #00f !important
    }

    .on {
        opacity: 1 !important;
        animation: slide .1s ease-in-out;
        pointer-events: auto !important; /* クリックを有効にする */
        z-index: 1000;
        padding-top: 16px;
    }

    @media screen and (max-width: 636px) {
        .sidebar {
            top: 0;
            height: 100vh;
            position: absolute;
            pointer-events: none;
            background-color: #fff;
            transition: all 0.3s 0s ease;
        }

        .sidebar {
            opacity: 0;
        }
    }
</style>