---
import Navbar from "../components/navbar.astro";
const {title, index} = Astro.props;
---
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/png"
          href="https://files.prismisskey.space/misskey/c7e56b1d-4c4f-408f-bf73-3175f4eb26ca.png"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>

    <link rel="preload" href="https://files.prismisskey.space/misskey/a52d0ff1-6241-4de9-9d9f-811293c27c5f.webp" as="image" />

{index &&
        <div class="background">
            <div class="icon"/>
        </div>}
{!index &&
        <a href="/">
        <div style="height: 20vh !important;" class="background">
            <div style=" z-index: 2; " class="icon"/>
        </div>
        </a>}
<div style="min-height: 60vh;" class="flex w-full content mx-auto max-w-screen-xl">
    {!index &&
            <div class="sidebar border-r p-3 ">
                <div class="link">
                    <a style="white-space: nowrap" href="/tos">利用規約</a>
                </div>
                <br>
                <div class="link">
                    <a style="white-space: nowrap" href="/privacy-policy">プライバシーポリシー</a>
                </div>
                <br>

                <div class="link">
                    <a style="white-space: nowrap" href="/guideline">ガイドライン</a>
                </div>
                <br>
                <div class="link">
                    <a style="white-space: nowrap" href="/request_guideline">絵文字等の申請ガイドライン</a>
                </div>
            </div>}

    <slot/>

</div>
<div style="bottom:0; border-top: #d5d5d5 solid 1px" class="flex p-4 border-t-8">
    PrisMisskey.space サポート
</div>


<script>
    var target = document.getElementsByClassName("sidebar")[0]

    function isTarget(element) {
        if (element === target) {
            return true;
        }
        if (element.parentNode) {
            return isTarget(element.parentNode);
        }
        return false;
    }

    function hasOnClass(element) {
        if (!element) {
            return false;
        }
        return element.classList.contains("on");

    }

    document.addEventListener("touchend", function (event) {
        var tapped = event.target;
        if (!isTarget(tapped) && hasOnClass(target)) {
            document.querySelector('.sidebar').classList.toggle('on');
        }
    });
    // スクロール時にサイドバーを追従させる
    window.addEventListener("scroll", function () {
        var sidebar = document.querySelector('.sidebar');
        if (window.scrollY > 0) {
            sidebar.style.top = window.scrollY + "px";
        } else {
            sidebar.style.top = "0";
        }
    });
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.sidebar').classList.toggle('on');
    });
</script>

<style>
    .background {
        background-image: linear-gradient(rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.3)), url('https://files.prismisskey.space/misskey/7703b066-9610-4f68-9f70-05cd65dc222e.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 60vh;
        width: 100vw;
        position: relative;
        background-attachment: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    .background::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px -5px 6px 1px #fafafa;
    }
    .icon{
        background-image: url('https://files.prismisskey.space/misskey/a52d0ff1-6241-4de9-9d9f-811293c27c5f.webp');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 60%;
        animation: slide-up .6s ease-in-out;
        pointer-events: none;
    }

    html {
        -ms-overflow-style: none; /* IE, Edge 対応 */
        scrollbar-width: none; /* Firefox 対応 */
        height: 100%;
        color: #4f4f4f;
        background: #fafafa;
    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: #121212;
            color: #d5d5d5;
        }
        .background::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: inset 0px -5px 6px 1px #121212;
        }
    }
    .link{
        margin-top: 8px;
    }

    html::-webkit-scrollbar {
        display: none; /* Chrome, Safari 対応 */
    }

    body {
        min-height: 100%;
    }

    .on {
        opacity: 1 !important;
        animation: slide .1s ease-in-out;
        pointer-events: auto !important; /* クリックを有効にする */
        z-index: 1000;
        padding-top: 16px;
    }

    @media screen and (max-width: 636px) {
        .sidebar {
            top: 0;
            height: 100vh;
            position: absolute;
            pointer-events: none;
            background-color: #fff;
            transition: all 0.3s 0s ease;
        }

        .sidebar {
            opacity: 0;
        }
    }
    @keyframes slide-up {
        0% {
            transform: translate(0%, 80%);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }

</style>
</html>