---
import BaseLayout from './BaseLayout.astro';
const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title}>

    <div class="flex-col p-2">
        <h1>{frontmatter.title}</h1>
        <slot/>
    </div>
</BaseLayout>
<style is:global>
    li {
        list-style-type: disc;
        margin-left: 18px;
    }

    p {
        font-weight: 400 !important;
    }

    h1 {
        font-weight: bold !important;
        margin: 8px 0 !important;
        font-size: 32px !important;
        color: #363636;
    }

    h2 {
        font-weight: bold !important;
        margin: 8px 0 !important;
        font-size: 24px !important;
        color: #363636;
    }

    h3 {
        font-weight: bold !important;
        margin: 8px 0 !important;
        font-size: 20px !important;
        color: #363636;
    }


    a {
        color: dodgerblue !important;
    }

    hr {
        margin: 8px 0 !important;
    }
</style>