---
import BaseLayout from './BaseLayout.astro';
const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title}>

    <div class="flex-col p-2">
        <h1>{frontmatter.title}</h1>
        <slot/>
    </div>
</BaseLayout>
<style is:global>
    li {
        list-style-type: disc;
        margin-left: 18px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    p {
        font-weight: 400 !important;
        margin: 16px 0 !important;
    }

    h1 {
        font-weight: bold !important;
        margin: 16px 0 !important;
        font-size: 32px !important;
        color: #363636;
    }

    h2 {
        font-weight: bold !important;
        margin: 16px 0 !important;
        font-size: 24px !important;
        color: #363636;
    }
    a {
        color: dodgerblue !important;
    }

    hr {
        margin: 8px 0 !important;
    }
    h3 {
        font-weight: bold !important;
        margin: 8px 0 !important;
        font-size: 20px !important;
        color: #363636;
    }

    @media (prefers-color-scheme: dark) {
        h1 {
            color: #d5d5d5;
        }
        h2 {
            color: #d5d5d5;
        }
        a {
            color: dodgerblue !important;
        }

        h3 {
            color: #d5d5d5;
        }
    }

</style>